

.message-box { 
  display: flex;
  gap: 10px;
  position: relative;
  align-self: start;
  max-width: 70%;
  min-width: 150px;
  &.own {
    align-self: flex-end;  
    .message-wrapper {
      background-color: #5183fe;
      
    }
  }

  .message-wrapper {
    display: flex;
    flex-direction: column;
    gap:2px;
   
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(17, 25, 40, 0.8);
    padding:10px;

    .message-content {
      width: 100%;
      height: 100%;  
     
      .message-owner {
        font-size: 0.75rem;
        margin-bottom: 5px;
        font-weight: 100;
        color: aquamarine;
      }
      p {
        font-size: 1.25rem;
        word-wrap: break-word;
      }
      img {
        width: 100%;
        height: 300px;
        border-radius: 10px;
        object-fit: cover;
      }
    }
  }

  .message-avatar {
      width: 36px;
      height: 36px;
      border-radius: 9999px;
  }
  


  .reaction-tray {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: white;
    border-radius: 9999px;
    padding: 0 10px;
    height: 22px;
    transform: translate(-40px, 50%);
    .reaction-icon {
    
      color: black;
      width: 15px;
      height: 15px;
      
    }
  }

  .reaction-menu {
    display: none;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(-10%, 50%);
  }
  
  &:hover {
    .reaction-menu {
      display: block;
    }
  }
 .message-status{

  span {
    font-size: 9px;
  }
 }
}
