.modal {
   
    background-color: transparent;
    border: none;
    color: white;

    &.center-center{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .modal-close-btn {
        width: 1.5rem;
        height: 1.5rem;
        display: grid;
        place-items: center;
    }
    
    .modal-close-icon {
        width: 1rem;
        height: 1rem;
    }
}
