.infinite-scrollable {
    .go-to-last-btn {
        position: sticky;
        outline: none;
        border: none;
        bottom: 15px;
        left: 100%;
        opacity: 0;
        width: 35px;
        height: 35px;
        border-radius: 10px;
        background-color: hsla(59, 72%, 59%, 0.8);
        display: none;
        cursor: pointer;
        transition: all 1.5s;
        &:hover {
            opacity: 0.5;
        }
    }
    .show {
        opacity: 0.2;
        display: block;
    }
}